 /* Brewery Page CSS */
 .brew--navlinks{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 60px;
    margin-right: 60px;
    justify-items: center;
    align-items: center;
   }
  .brew--buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  .brew--image{
  max-width: 250px;
  max-height: 250px; 
  }
  
  .brew--results{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
  .brew--navlinks{
    list-style-type: none;
    color: darkblue
  }
  
  .brew--link:hover{
    font-size: 1.5rem;
    text-emphasis-style: initial;
  
  }
  .brew--link--active{
    font-size: 2rem;
    text-decoration: underline;
    color: blueviolet
  }
  .brew--navButton{
  
    background-color: #ECA200;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    max-width: 100vw;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    flex-grow: 0;
  }
  .brew--navButton:hover{
      background-position: 100% 100%;
      transform: scale(1.08,1.03);
      box-shadow: 3px 3px 1px black;
      border-style: solid;
      border-color: black;
      border-radius: 7px;
      border-width: 2px;
    }
  .brew--list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  
    gap: 20px;
    margin: 15px;
  }
  .brew--card{
    min-height: 400px;
    min-width: 400px;
    align-items: center;
  }
  .brew--card--set{
    border-style: solid;
    border-radius: 7px;
    border-width: 2px;
    margin-left: 15px;
    min-height: 400px;
    min-width: 400px;
    text-align: center;
  }
  .brew--card--set:hover{
    background-position: 100% 100%;
    transform: scale(1.08,1.03);
    box-shadow: 10px 10px 5px black;
    border-style: solid;
    border-color: black;
    border-radius: 7px;
    border-width: 1px;
  }
  .brew--card--name{
    font-size: 1.25rem;
    font-weight: 800;
    text-decoration: underline;
  }

  a:nth-child(even) .brew--card{
    background-color: #FFBD6D;
  }
  a:nth-child(odd) .brew--card{
    background-color: #FFD371;
  }
  a:hover{
      background-color:  #F7F5F1;
  }
  .selected--image{
    border: 2px;
    border-radius: 15px;
    border-color: black;
    border-style: solid
  }
  .selected--image:hover{
    background-color:  #F7F5F1;
    background-position: 100% 100%;
    transform: scale(1.08,1.03);
    box-shadow: 10px 10px 5px black;
    border-style: solid;
    border-color: black;
    border-radius: 7px;
    border-width: 1px;
  }
  .selected--brewery{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-top: 10px;
    margin-left: 20vw;
    margin-right: 20vw;
    justify-content: space-around;
  }
  .selected--name{
    text-decoration: underline;
    font-size: 1.3rem;
  }
  .selected--nameDesc{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    border: 2px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
  }
  .selected--card--desc{
    border: 2px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
  }
  .selected--review{
    display: flex;
    text-align: center;
  
    border: 2px;
    border-radius: 15px;
    border-color: black;
    border-style: solid
  }
  .break{
    flex-basis: 100%;
    height: 0;
  }
  .btn-secondary{
    margin: 10px;
  width: 50%;
  }