.selected--beer{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
  margin: 10px;
}
.selected--name {
  background-color: #FFD371;
  font-size: x-large;
  padding-bottom: 5px;
}
.selected--desc{
  font-size: larger;
  font-style: italic;
 
}
h5 {
  text-decoration: underline;
}
.selected--image{
  background-color: white;
  max-width: 25vw;
  min-width: 300px;

}
/* Single Beer Page */
.selected--info {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  text-align: center;
  border: 1px solid white;
  max-width: 25vw;
  border: 1px solid #F7F5F1;
}
.selected--reviewTable {
  display: flex;
  flex-direction: column;
  flex-grow: 33;
  border: 1px solid #F7F5F1;
 
}
.selected--review{
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.selected--image:hover{
  background-color: #F7F5F1;
  max-width: 25vw;
  margin: 10px;
  margin-left: 10px;
  margin-right: 20px;
  background-position: 100% 100%;
  transform: scale(1.05,1.05);
  box-shadow: 10px 10px 5px #FFD371;
  border-style: solid;
  border-color: white;
  border-radius: 3px;
  border-width: 1px;
}
.beer--card--set > img{
  display: inline-block;
}

/*Just testing for beer */
.beer--card--set{
  gap:10px;
  position: relative;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  border-style: solid;
  border-radius: 7px;
  border-width: 2px;
  min-width: 10vw;
  max-width: 16vw;
 }
 .beer--list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  gap: 50px;
 }
a:nth-child(even) .beer--card{
  background-color: #FFBD6D;

}
a:nth-child(odd) .beer--card{
  background-color: #FFD371;

}
.beer--card{
  aspect-ratio: 1/1.6;
  cursor: pointer;
  position: relative;
  min-width: 15vw;
 
 }

 .beer--card:hover {
  background-position: 100% 100%;
  transform: scale(1.08,1.03);
  box-shadow: 10px 10px 5px black;
  border-style: solid;
  border-color: black;
  border-radius: 7px;
  border-width: 1px;
 }

 .beer--card--name{
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
 }
 .beer--card--desc{
  font-size: .9rem;
  text-align: center;
 }
.container{
  display: block;
}
.card-img-top {
  margin-top: 10px;
}
.card-body {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.card {
  border: 0;
  border-radius: 0;
  height: 100%;
}
.found--brews {
  height: 100%;
}
.selected--abvType {
  margin: 5px;
  
}
.user--favorite--brewery {
  position: fixed;
}
.breweries--found{
  position: relative;
  text-align: center;
  align-self: center;
  bottom: -50px;
}