body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F5F1;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.selected--beer{
  display: flex;
  flex-wrap: wrap;
}
.selected--nameDesc{
  background-color: #FFD371;
}
.selected--image{
  background-color: #F7F5F1;
  max-width: 25vw;
  margin: 20px;
  margin-left: 60px;
}

.selected--image:hover{
  background-color: #F7F5F1;
  max-width: 25vw;
  margin: 20px;
  margin-left: 60px;
  background-position: 100% 100%;
  transform: scale(1.08,1.03);
  box-shadow: 10px 10px 5px black;
  border-style: solid;
  border-color: black;
  border-radius: 7px;
  border-width: 1px;
}

/*Just testing for beer */
.beer--card--set{
  gap:10px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  border-style: solid;
  border-radius: 7px;
  border-width: 2px;
  min-width: 10vw;
  max-width: 16vw;
 }
 .beer--list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  gap: 50px;
 }

 .beer--list > .beer--card--set:nth-child(odd) > .beer--card{
  background-color: #FFBD6D;
}

.beer--list > .beer--card--set:nth-child(even) > .beer--card{
  background-color: #FFD371;
}

.beer--card{
  aspect-ratio: 1/1.6;
  cursor: pointer;
  position: relative;
  min-width: 15vw;
  gap:5px
   
 }

 .beer--card:hover {
  background-position: 100% 100%;
  transform: scale(1.08,1.03);
  box-shadow: 10px 10px 5px black;
  border-style: solid;
  border-color: black;
  border-radius: 7px;
  border-width: 1px;
 }
 .beer--card--set :first-child{
  padding: 10px;
 }
 .beer--card--name{
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
 }
 .beer--card--desc{
  font-size: .9rem;
  text-align: center;
 }


 /* Brewery Page CSS */
 .brew--navlinks{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-left: 60px;
  margin-right: 60px;
  justify-items: center;
  align-items: center;
 }
.brew--buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.brew--results{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}
.brew--navlinks{
  list-style-type: none;
  color: darkblue
}

.brew--link:hover{
  font-size: 1.5rem;
  text-emphasis-style: initial;

}
.brew--link--active{
  font-size: 2rem;
  text-decoration: underline;
  color: blueviolet
}
.brew--navButton{

  background-color: #ECA200;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 10px;
  padding: 10px;
  max-width: 100vw;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  flex-grow: 0;
}
.brew--navButton:hover{
    background-position: 100% 100%;
    transform: scale(1.08,1.03);
    box-shadow: 3px 3px 1px black;
    border-style: solid;
    border-color: black;
    border-radius: 7px;
    border-width: 2px;
  }
  


 /* set up for implimentation later to keep Hexcodes and colors in place. Feel free to rename as needed for components*/
 .navbar--collection{
  padding: 5px;
  background-color: #5B4037;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }
 .navbar--collaspe{
    flex-grow: 0;
    padding: 5px;
    background-color: #5B4037;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
 }
 
 .navbar--links{
  display: flex;
  flex-grow:1;
  padding: 5px;
  background-color: #5B4037;
  flex-direction: row;
  align-content: space-around;
 }

 .navbar--logout {
  background-color: #ECA200;
  border-style: solid;
  border: black;
  border-radius: 5px;
  padding: 10px;
  margin: 20px;
  align-content: flex-end;
  flex-grow: 0;

 }
 footer{
  margin-top: 10px;
  padding:  25px ;
  position: fixed;
  bottom: 0;
  height: 75px;
  width: 100%;
  background-color: #5B4037;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
 }
 footer > h5 {
  text-align: start;
  color: #F7F5F1;
 }
 footer > button {
  background-color: #ECA200;
  border-style: none;
  color:#F7F5F1;
  padding-left: 15px;
  padding-right: 15px;
  

 }
 /* Login Page */
 .login--page--main{
  margin: 0px;
  padding: 0px;
  background-color: #e8e8e8;
 }
 .login--page--boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

 }

 /* finalized Table css -cam */

.review--table {
  border: 3px solid white;
  width: fit-content;
}
.review--table--head {
  border: 2px solid white;
  background-color: #ECA200;
  color: #F7F5F1;
  text-align: center;
}
.review--table--body{
  text-align: center;
}
.review--table--body tr {
  border: 2px solid white;
}
.review--table--body td {
  border: 2px solid white;
}
.review--table--body td:nth-child(1) {
  width: 15%;
  color: green;
}
.review--table--body td:nth-child(2) {
  width: 70%;
  font-style: italic;
}
.review--table--body tr:nth-child(even){
  background-color: #e8e8e8;
}